@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/bg.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container {
  margin: auto;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
